/* Page body - global styling */
body {
    
    background-size: 100%;
    background-attachment: fixed;
    font-family: 'Titillium Web Light', sans-serif;
    color: white;
}
h2::selection {
background-color:rebeccapurple;
color: white;

}

html {
    scroll-behavior: smooth;
    scrollbar-base-color:  rebeccapurple;
}
/* Page navigation */
.stick-nav {
    background-color: white;   
}

a:hover{  
    background-color:rebeccapurple;
    padding: 20px;
    color: white;
    padding-top: 0.1em;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
hr {
    border: 1px solid rebeccapurple;
    width: 20%;
    position: absolute;
    right: 60px;

}


a { 
    text-decoration: none;
    color: rebeccapurple;
    
    

}
.nav-elements {
    display: flex;
    list-style: none;
    font-size: 2em;
    padding-left: 40px;
    padding-right: 40px;
    margin: 0;
    color: rebeccapurple;
    text-align: right;
    
    
}


li {
    padding: 20px;
}

.right-elem {
    margin-right: auto;
    padding-right: 30px;
    color: white;
}
.left-elem {
    margin-left: auto;
    padding-left: 30px;
    color: white;
}

@media only screen and (max-width: 880px){
    .nav-elements{
        font-size: 1.2em;
        padding: 0;
    }
	a:hover{  
    background-color:rebeccapurple;
    
    color: white;
}
}


.hidden {
    display: none;
}
/* search box */
.search-block  {
    color: rebeccapurple;
    text-align: center;
    font-size: 2em;
    height: 50%;
    padding-top: 100px;
    padding-bottom: 50px;;
    scrollbar-base-color:  rebeccapurple;
    background-image: url(../images/bg-left.png);
    background-position: left;
    background-repeat: no-repeat, repeat;
    background-size: 30%; 

    
}



.input-box {
width: 30%;
height: 15%;
padding: 12px 20px;
margin: 8px 0;
display: inline-block;
border: 1px solid rebeccapurple;
border-radius: 4px;
box-sizing: border-box;
margin-left: 0px,50px;


}
 .input-box:focus{
    border: 1px solid green;
    border-radius: 4px;
    box-sizing: border-box;
    outline: yellowgreen;
 }
/* search button*/
#sbutton {
    background-color: rebeccapurple;
    color: white;
    font-size: 0.6em;
    border-radius: 8px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
    padding: 0.25em 0.75em;
    min-width: 10ch;
    min-height: 44px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
   border: white;
}
 #sbutton:hover {
background-color: green;
color: white; 
 }



/* Common wrapper styling*/
.module-wrapper-invert {
    color: white;
    text-align: center;
    font-size: 2em;
    height: 50%;
    padding-top: 50px;
    padding-bottom: 50px;;
    scrollbar-base-color:  rebeccapurple;
    background-color: rebeccapurple;
    padding-left: 50px;
    margin-left: -40%;
    background-image: url(../images/max.jpg);
    background-position: right;
    background-repeat: no-repeat, repeat;
    background-size: 30%; 
  
  }

/*show button*/
  #show_button{
    background-color: rebeccapurple;
    color: white;
    font-size: 19.2px;
    border-radius: 8px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
    padding: 0.25em 0.75em;
    min-width: 10ch;
    min-height: 44px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: white;
    
}
 #show_button:hover {
background-color: green;
color: white; 
 }
/*add champion*/
 .module-wrapper-pure {
    color: rebeccapurple;
    text-align: center;
    font-size: 2em;
    height: 50%;
    padding-top: 100px;
    padding-bottom: 50px;;
    background-color: white;
    

  }

  #add_champ {
    background-color:white ;
    color: rebeccapurple;
    font-size: 0.6em;
    border-radius: 8px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
    padding: 0.25em 0.75em;
    min-width: 10ch;
    min-height: 44px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: rebeccapurple;
    
  }
  #add_champ:hover {
    background-color: green;
    color: white; 
     }

     /*show monster*/

.module-wrapper-monster {
        color: white ;
        text-align: center;
        font-size: 2em;
        height: 50%;
        padding-top: 100px;
        padding-bottom: 50px;;
        background-color: rebeccapurple;
        
     }
#monster_button {
    background-color:white ;
    color: rebeccapurple;
    font-size: 19.2px;
    border-radius: 8px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
    padding: 0.25em 0.75em;
    min-width: 10ch;
    min-height: 44px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: rebeccapurple;
}
 #monster_button:hover{
    background-color: green;
    color: white; 
     }
 

footer 
     {
    color:rebeccapurple;
    background-color: white;
    bottom:0;
    text-align: center;
    width: 100%;
    margin-left: -0.5%;
    font-size: 16px;
    opacity: 75%;
    position: fixed;
    bottom: 0;  
     }
 .footer 
 {
    color:rebeccapurple;
    position: absolute;
    bottom:0;
    background-color: white;

 }

      /*register page r*/
.register-body{
    background-image: url(../images/register.jpg); 
    background-position: center;
    background-repeat: no-repeat;
    
    background-size : cover;
  

}
 .register-wrapper{


padding-top: 10em;
padding-bottom: 3em;
white-space: normal;
overflow: hidden;
position: relative;
 }

 .register-box {
     text-align: center;
     font-size: 1.2em;
     padding: 5em 5em 5em 5em;
     background-color: white;
     margin-left: 15%;
     margin-right: 15%;
     color: rebeccapurple;
     opacity: 75%;
     
 }

 .reg-btn{

    background-color:rebeccapurple;
    color: white;
    font-size: 19.2px;
    border-radius: 8px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
    padding: 0.25em 0.75em;
    min-width: 10ch;
    min-height: 44px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: rebeccapurple;
 }

 .reg-btn:hover {
    background-color: green;
    color: white; 
    cursor: pointer;
     }

       /*login page*/
 
     .login-body{
        background-image: url(../images/login.jpg); 
        background-position: center;
        background-repeat: repeat no-repeat;
        size: auto;
      
    
    }
     .login-wrapper{
    
    
    padding-top: 10em;
    padding-bottom: 3em;
    white-space: normal;
    overflow: hidden;
    position: relative;
     }
    
     .login-box {
         text-align: center;
         font-size: 1.2em;
         padding: 5em 5em 5em 5em;
         background-color: white;
         margin-left: 15%;
         margin-right: 15%;
         color: rebeccapurple;
         opacity: 75%;
         
     }
    
